.error-message {
    color: red;
    font-size: inherit;
}

.text-danger-2 {
    color: red;
    font-size: small;
}

.text-danger {
    color: red;
}

/deep/ .p-inputtext {
    height: 46px;
    font-size: 11px;
    color: black;
}