.mat-sidenav-container {
    width: 100%;
}

.horizontal-stepper-wrapper,
.vertical-stepper-wrapper {
    width: 80%;
    max-width: 800px;
}

.centersteep {
    background-color: white;
}

.etiquetas {
    font-weight: bold;
    color: blue;
    font-size: large;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

.cardInner {
    display: grid;
    grid-template-areas: "header header" "side content" "footer footer";
    grid-template-rows: auto auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.img-default,
.img-default1,
.img-default2,
.img-default3,
.img-default4 {
    background-image: url('https://cdn0.iconfinder.com/data/icons/interface-10/128/_add_image-512.png');
    max-height: 5em;
    max-width: 8em;
    height: 5em;
    width: 8em;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

input#imageQuest,
input#imageQuest1,
input#imageQuest2,
input#imageQuest3,
input#imageQuest4 {
    display: none;
}

.img-dow {
    background-image: url(../../../../assets/images/backgrounds/down.png);
    max-height: 40px;
    max-width: 40px;
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}