/* You can add global styles to this file, and also import other style files */

$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";
@import 'material-icons/iconfont/material-icons.css';
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
//@import "gaxon/scss/main";
//sadsa

// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-blue, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);