<!-- Card Header -->
<card-header class="mb-5" card-title="Gestion Impacto Riesgos">

    <!-- Card Tools -->
    <card-tool>
        <button type="button" class="btn btn-success btn-xs" (click)="openDialog(null)">Nuevo <gx-icon name="circle-add-o" size="1x"></gx-icon></button>
    </card-tool>
    <!-- /card tools -->

</card-header>
<!-- /card header -->

<!-- Card Body -->
<card-body class="p-0">

    <!-- Widget -->
    <div class="dt-widget dt-widget-hl-item dt-widget-hl-item-space dt-widget-mb-item dt-widget-hover-bg">

        <div class="table-responsive">
            <table class="table table-bordered mb-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th class="text-uppercase" scope="col">Impacto</th>
                        <th class="text-uppercase" scope="col">Valoracion</th>
                        <th class="text-uppercase" scope="col">Cuantificacion</th>
                        <th class="text-uppercase" scope="col">Valor Min</th>
                        <th class="text-uppercase" scope="col">Valor Max</th>
                        <th class="text-uppercase" scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lista; index as i">
                        <th scope="row">{{i+1}}</th>

                        <td>{{item.nombre_impacto}}</td>
                        <td>{{item.nombre_valoracion}}</td>

                        <td>{{item.cuantificacion}}</td>
                        <td>{{item.minimo}}</td>
                        <td>{{item.maximo}}</td>
                        <td>
                            <div class="hide-content">
                                <!-- Action Button Group -->
                                <div class="action-btn-group">
                                    <button class="btn btn-default text-success dt-fab-btn" (click)="openDialog(item)">
                            <gx-icon name="editors" size="1x"></gx-icon>
                          </button>
                                    <button class="btn btn-default text-danger dt-fab-btn" (click)="deleteItem(item)">
                            <gx-icon name="trash" size="1x"></gx-icon>
                          </button>
                                </div>
                                <!-- /action button group -->
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    <!-- /widget -->
</card-body>